MGExtensions.xcodeproj/project.xcworkspace/xcuserdata/marcoguerrieri.xcuserdatad/UserInterfaceState.xcuserstate
MGExtensions.xcodeproj/xcuserdata/marcoguerrieri.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
MGExtensions.xcodeproj/xcuserdata/marcoguerrieri.xcuserdatad/xcschemes/xcschememanagement.plist
